
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html
{
	background-color: #efefef;
}

body
{
	

}

header
{
    box-sizing: border-box;
    width: 100%;
    padding: 10px 10px 10px 10px;
    background-color: #006677;
    overflow: hidden;
}


header h1
{
    padding-left: 10%;
	 font: normal 16px 'Open Sans', sans-serif;
	 color: #fff;
   font-family: calibri;
}
header .p-welcome
{
  font-family: calibri;
  color: #eef
  font-size: 16px;
}

header a{
    color:#fff;
    float: right;
    text-decoration: none;
    display: inline-block;
    padding: 13px 50px;
    border-radius: 3px;
    font: bold 14px/1 'Open Sans', sans-serif;
    text-transform: uppercase;
    background-color:#F05283;

}
.menu-left
{
  float: right;
}
.main-menu 
{
    border-bottom: 1px solid #EAEAEA;
    background-color: #FFF;
    padding: 30px;
    margin-top: 0;
    margin-bottom: 6
    0px;
}
.left-menu
{
    padding-left: 3%;
    margin-bottom: 10px;
}
.right-menu
{
    padding-left: 25%;
}
.main-menu ul 
{
    list-style: none;
    margin-right: 50px;
    color: #006655;
    margin-bottom: 10px;
    clear: both;
}

.main-menu ul a{
    text-decoration: none;
    color: #006677;
    text-align: left;
    font-size: 18px;
    display: inline-block;
    margin: 4px 10px 10px 5px;
    line-height: 1;
    outline: none;
    transition: 0.2s ease;
    font-family: calibri;
}

.main-menu ul li a.active
{
    color: #F05283;
    pointer-events: none;
}

.main-menu ul li a:hover {
    opacity: 1;
}


ul li{
    display: inline-block;
}


@media (max-width: 1000px) {


    header h1{
        float: none;
    }

    header a{
        margin-top: 25px;
        float: none;
    }

}

.main-content{
    margin-bottom: 75px;
}

/* -- Demo ads -- */

@media (max-width: 1200px) {
	#bsaHolder{ display:none;}
}

/* -- Link to Tutorialzine -- */

.tz-link{
	text-decoration: none;
	color: #fff !important;
	font: bold 36px Arial,Helvetica,sans-serif !important;
}

.tz-link span{
	color: #da431c;
}
@media (min-width: 1025px) {
  .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12 {
    float: left;
  }
  .col-md-12 {
    width: 100%;
  }
  .col-md-11 {
    width: 91.66666667%;
  }
  .col-md-10 {
    width: 83.33333333%;
  }
  .col-md-9 {
    width: 75%;
  }
  .col-md-8 {
    width: 66.66666667%;
  }
  .col-md-7 {
    width: 58.33333333%;
  }
  .col-md-6 {
    width: 50%;
  }
  .col-md-5 {
    width: 41.66666667%;
  }
  .col-md-4 {
    width: 33.33333333%;
  }
  .col-md-3 {
    width: 25%;
  }
  .col-md-2 {
    width: 16.66666667%;
  }
  .col-md-1 {
    width: 8.33333333%;
  }
  .row-view
  {
      display: table;
      width: 60%;
      table-layout: fixed;
      border-spacing: 10px; 
      margin-left: 20%;
      margin-top: 4%;

  }
  .column-view
  {
      display: table-cell;
  }
  .leftone
  {
    width: 60%;
  }
  .rightone
  {
    width: 39%;
    box-sizing: border-box;
    background-color: #ffffff;
    padding: 10px;
    margin-bottom: 15px;
  }
  .rightone .option-header
  {
    border-bottom: 1px solid #eef;
    color: #006622;
    font-weight: lighter;
    font-family: calibri;
    padding: 10px;
    margin-bottom: 10px;
  }
  .rightone .option-header h2
  {
    font-weight: lighter;
  }
  .rightone .option-content
  {
    font-family: calibri;
    font-size: 16px;
    color: #006655;
    padding-left: 6%;
  }
  .rightone .option-content p
  {
    padding-bottom: 10px;
  }
  .leftone1
  {
    width: 49%;
    box-sizing: border-box;
    background-color: lightblue;
    padding: 10px;
    margin-bottom: 15px;
  }
  .top-notch
  {
    width: 100%;
    box-sizing: border-box;
    background-color: lightblue;
    padding: 10px;
  }

  .rider-options
  {
      display: table;
      width: 100%;
  }
  .rider-options1
  {
      display: table;
      width: 100%;
  }
  .optionone
  {
      display: table-cell;
      box-sizing: border-box;
      padding: 10px;
  }
  .optione1
  {
      background-color: #fff;
  }
  .optione1 .option-header
  {
    border-bottom: 1px solid #eef;
    color: #006699;
    font-weight: lighter;
    font-family: calibri;
    padding: 10px;
    margin-bottom: 10px;
  }
  .optione1 .option-content
  {
    font-family: calibri;
    font-size: 16px;
    color: #006655;
    padding-left: 6%;
    border-bottom: 1px solid #eef;
    margin-bottom: 10px;
  }
  .optione1 .option-header h2
  {
    font-weight: lighter;
  }
  .optione1 .option-content p
  {
    padding-bottom: 10px;
  }
  .optione1 .option-footer
  {
    float: right;
    border-top: 1px solid #fff;
  }
  .optione1 .option-footer a
  {
    background-color: skyblue;
    color: #fff;
    padding: 5px 10px 3px 10px;
    cursor: pointer;
    text-decoration: none;
    border-radius: 2px;
    font-family: calibri;
  }
  .optione1 .option-footer a:hover
  {
    background-color: #fff;
    color: #006688;
  }
  .optione2
  {
    background-color: lightblue
  }
  .optione2 .option-header
  {
    border-bottom: 1px solid #eef;
    color: #fff;
    font-weight: lighter;
    font-family: calibri;
    padding: 10px;
    margin-bottom: 10px;
  }
  .optione2 .option-header h2
  {
    font-weight: lighter;
  }
  .optione2 .option-content
  {
    font-family: calibri;
    font-size: 16px;
    color: #006655;
    padding-left: 6%;
    border-bottom: 1px solid #eef;
    margin-bottom: 10px;
  }
  .optione2 .option-content p
  {
    padding-bottom: 10px;
  }
  .optione2 .option-footer
  {
    float: right;
    border-top: 1px solid #fff;
  }
  .optione2 .option-footer a
  {
    background-color: skyblue;
    color: #eef;
    padding: 5px 10px 3px 10px;
    cursor: pointer;
    text-decoration: none;
    border-radius: 2px;
    font-family: calibri;
  }
  .optione2 .option-footer a:hover
  {
    background-color: lightblue;
  }
  .rightone .option-footer
  {
    float: left;
    border-top: 1px solid #fff;
    margin-top: 30px;
    padding-left: 10px;
  }
  .rightone .option-footer a
  {
    color: #006688;
    padding: 5px 10px 3px 10px;
    cursor: pointer;
    text-decoration: none;
    border-radius: 2px;
    font-family: calibri;
  }
  .rightone .option-footer a:hover
  {
    color: #006633;
  }

  tr
  {
     border-bottom: 1px solid #006688;
  }
  .table-head
  {
    font-weight: bold;
    border-bottom: 1px solid #eef;
  }
 .table-confirmed
 {
    width: 100%;
    font-family: calibri;
    font-size: 14px;
 }
 profile-table text-decoration
 {
    font-weight: lighter;
    width: 100%;
 }
 .cancel-button
 {
   border-radius: 3px;
    border: 1px solid #eef;
   background-color: #006699;
   padding: 5px 10px 3px 10px;
   color: #fff;
   cursor: pointer;
 }
 .cancel-button:hover
 {
  background-color: #006655;
 }
 .reserve-button
 {
    border-radius: 3px;
    border: 1px solid #eef;
   background-color: #006699;
   padding: 5px 10px 3px 10px;
   color: #fff;
   cursor: pointer;
 }
 .reserve-button:hover
 {
  background-color: #006655;
 }